:root{
  --bg-body: #b91450
}

body{
  background-color: var(--bg-body);
}

.color-white{
  color: white;
}

.bg-white{
  background-color: white;
}

.container-active{
  display: none;
}

.active{
  display: block;
}